<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: darkorange;
        }
    </style>

</head>
<body>
<h1 style="color:black; font-size: 150px; text-align: center;"> Tak for nu!</h1> 
<h2 style="color:black; font-size: 100px; text-align: center;">Vi håber at du har haft en god kø rejse med Smartqueue</h2>
<h2 style="color:black; font-size: 200px; text-align: center;">Roskilde Festival</h2>
</body>
</html>

